select[name="data[header][color]"]
  + div.selectize-control.single
  .option:before,
select[name="data[header][color]"] + div.selectize-control.single .item:before {
  content: "";
  display: block;
  clear: both;
}
select[name="data[header][color]"] + div.selectize-control.single .option:after,
select[name="data[header][color]"] + div.selectize-control.single .item:after {
  content: "■";
  margin-left: 0.5em;
  font-size: 25px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -5px;
}
