<input id="tools" type="checkbox" class="tools-checkbox sidebar-toggle hide">
<label for="tools" class="tools-label menu-button icon-menu" role="button" aria-labelledby="tools">{{ 'THEME_MASONRY.TOOLS.TITLE'|t }}</label>

<input id="menu" type="checkbox" class="menu-checkbox sidebar-toggle hide">
<label for="menu" class="menu-label menu-button icon-menu" role="button" aria-labelledby="menu">{{ 'THEME_MASONRY.MENU.TITLE'|t }}</label>