<nav role="navigation" class="no-print">
    <ul class="navigation">
        {% for page in pages.children %}
            {% set current_page = (page.active or page.activeChild) ? 'nav-current' : '' %}
            <li class="nav-{{ page.slug }} {{ current_page }}" role="presentation">
                <span><a href="{{ page.route }}">{{ page.menu }}</a></span>
                <span></span>
            </li>
        {% endfor %}
    </ul>
</nav>