article.post {
  &.white {
    background: rgb(250, 250, 250) !important;
  }

  &.red {
    background: rgb(255, 138, 128) !important;
  }

  &.orange {
    background: rgb(255, 209, 128) !important;
  }

  &.yellow {
    background: rgb(255, 255, 141) !important;
  }

  &.green {
    background: rgb(204, 255, 144) !important;
  }

  &.teal {
    background: rgb(167, 255, 235) !important;
  }

  &.blue {
    background: rgb(128, 216, 255) !important;
  }

  &.dark-blue {
    background: rgb(130, 177, 255) !important;
  }

  &.purple {
    background: rgb(179, 136, 255) !important;
  }

  &.pink {
    background: rgb(248, 187, 208) !important;
  }

  &.brown {
    background: rgb(215, 204, 200) !important;
  }

  &.gray {
    background: rgb(207, 216, 220) !important;
  }
}